body{
    background-color: #F7F8F9;
}

.banner{
    margin-top: -40px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("/static/img/home_bg_optimized_again-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    color: white;
    text-align: center;
    padding-top: 350px;
}

.banner h1{
    font-size: 80px;
    font-weight: bold;
}

.banner p{
    font-size: 25px;
    font-weight: 400;
}

a{
    text-decoration: none;
    text-decoration-color: none;
}

a:hover{
    text-decoration: none;
}

.after_banner{
    text-align: center;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
}

.after_banner_1{
    color:rgb(87, 85, 85);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 30px;
}

.head{
   
    display: flex;
    justify-content: space-around;
    

    border-bottom: 1px rgb(189, 185, 185) solid;
    margin-bottom: 40px;

}

.head div{
    display: flex;
    justify-content: space-between;
}

.logo{
    align-items: center;
    text-align: center;
    
    color: white;
    font-family: cursive;
    font-size: 60px;
    
}

.nav{
    display: flex;
    
}

.nav > div{
    justify-content: space-around;
    width: 100%;
    margin: auto;
    
}

.a a{
    background-color: #007BFF;
    color: white;
    font-size: 18px; 
    border: 2px white solid; 
    border-radius: 10px;
    font-weight: 900;
    padding: 8px;
}

.a a:hover{
   
    background-color: #FF703F;
}

.articles_block{
    width: 80%;
    margin: auto;
    
}

.row > div{
    margin-top: 10px;
    margin-bottom: 20px;
}



.row1 > div{
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row1 > div:hover{

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.card{
    width: 100%;
}

.prix{
    margin-top: 55%;
    color: white
}

.x::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    opacity: 0.7;
}

.nom{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: black;
}

.adresse{
    color: rgb(87, 85, 85);
}

.device{
    color: rgb(119, 115, 115);
    display: flex;
    
    width: 80%;
}

.props {
    color: rgb(119, 115, 115);
}


.card-body{
    color: black;
}

.Agents{
    width: 70%;
    margin: auto;

    margin-top: 100px;  
}


.Temoignage{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.Tem{
    width: 30%;
    background-color: #EDF9FF;
    padding: 40px;
}

.detail_appartement{
    width: 70%;
    margin: auto;
}

.nom_prix{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight:500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.det_app{
    display: flex;
    justify-content: space-between;
}

.detail{
    width: 70%;
}

.contact{
    width: 26%;
    background-color: white;
    padding-top: 20px;
    height: 625px;
}

.proprietaire_profil{
    width: 80%;
    margin: auto;
}

.contact form{
    width: 80%;
    margin: auto;
}

.contact form input {
    height: 50px;
}

.contact form button{
    background-color: #28A745;
    color: white;
    font-weight: 700;
    width: 100%;
}

.contact form button:hover{
    background-color: rgb(36, 234, 36);
}

.devices{
    background-color: white;
    height: 200px;
    margin-top: 50px;
    padding: 50px;
}

.devices > div{
    color: rgb(119, 115, 115);
    display: flex;
    justify-content: space-between;
}

.describe{
    background-color: white;
    height: 400px;
    margin-top: 50px;
    padding: 50px;
}

.adresse_{
    background-color: white;
    height: 230px;
    margin-top: 50px;
    padding: 30px; 
}

.adresse_ > div {
    width: 50%;
}

.mon_profil{
    width: 80%;
    margin: auto;
}

.info_proprietaire{
    
    padding: 50px;
    background-color: white;
    
}

.ajout_app{
    margin-top: -40px;
    background: linear-gradient(#224E70, rgba(0, 0, 0, 0.9)), url("/static/img/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: -130px;
}

.ajout_app_containt{

    margin: auto;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.ajout_app_form{
    width: 80%;
    margin: auto;
}

.ajout_app_form input{
    height: 50px;
    border-radius: 0px;
    border: 2px solid rgb(159, 157, 157);
}

.ajout_app_form label{
    font-weight: 700;
}

.ajout_app_form div{
    margin-top: 10px;
}

.btn_ajouter{
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #007BFF;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

/*---------------------------------------------------------------------------------------------------*/

.foot{
    background-color: #004274;
    display: flex;
    justify-content: space-around;
    height: 490px;
    margin-top: 130px;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 25px;
}

.info h6{
    font-size: 17px;
}

.info h6:hover{
    color: #FF703F;
}

#fleche{
    font-weight: bold;
    font-size: 20px;
}

.d{
    margin-left: 10px;
}

i{
    font-size: 27px;

}

.icon{
    font-size: 27px;
    padding-left: 10px;
    padding-top: -10px;
}





#trait{
    height: 10px;
    width: 70px;
    background-color:#007BFF;
    margin-top: -10px;
    margin-bottom: 30px;
}



