{% load static %}
<div class="foot">
    <div class="info" style="width: 90%;">

        <div>
            <div>
                <h3>Discover</h3>
                <div class="d">
                    <h6> <span id="fleche"> > </span>Dakar</h6>
                    <h6> <span id="fleche"> > </span>Mbour </h6>
                    <h6> <span id="fleche"> > </span>Saly </h6>
                    <h6> <span id="fleche"> > </span>Somone </h6>
                    <h6> <span id="fleche"> > </span>Lac Rose </h6>
                </div>

            </div>
        </div>

        <div>
            <div>
                <h3>Contact Us</h3>
                <div class="d">
                    <h6> <span id="fleche"><i style="font-size: 20px;" class="fa-solid fa-location-dot"></i></span> Dakar, Pikine, Guinaw Rail </h6>
                    <h6> <span id="fleche"><i style="font-size: 20px;" class="fa-solid fa-phone"></i></span> 776295194 </h6>
                    <h6> <span id="fleche"> <i style="font-size: 20px;" class="fa-solid fa-fax"></i></span> 338703356 </h6>
                    <h6> <span id="fleche"> <i style="font-size: 20px;" class="fa-solid fa-envelope"></i> </span> Ndiayepm@PolyAppart.sn </h6>
                    <h6 style="color: #004274;"> "</h6>
                </div>

            </div>
        </div>


    </div>

</div>