{% load static %}
<div class="head">
    <div style="width: 70%;">

        <div class="logo">
            <div>
                <a href="{% url 'accueil' %}"><i style="font-size: 60px;" class="fa-sharp fa-solid fa-building"></i> PolyAppart</a>
            </div>
        </div>


        <div class="nav">
            <div>
                <div class="a"><a href="{% url 'profil' %}"><i class="fa-regular fa-circle-user"></i></a> </div>
                <div class="a"><a href="{% url 'ajouter_appartement' %}">+Appartement</a> </div>
                <div class="a"><a href="{% url 'inscription_proprietaire' %}">S'inscrire</a></div>
                <div class="a"><a href="{% url 'Proprietaire_login' %}">Connexion</a></div>
            </div>
        </div>

    </div>

</div>