{% load static %}
<div class="head">
    <div class="row" style="width: 90%; ">

        <div class="col-sm-12  col-md-8 logo">
            <div class="col-sm-12 ml-3 col-md-12 ">
                <a href="{% url 'accueil' %}"><i style="font-size: 60px;" class="fa-sharp fa-solid fa-building"></i> PolyAppart</a>
            </div>
        </div>


        <div class="col-sm-12 col-md-4 nav">
            <div >
                <div class="a"><a href="{% url 'profil' %}"><i class="fa-regular fa-circle-user"></i></a> </div>
                <div class="a"><a href="{% url 'ajouter_appartement' %}">+Appartement</a> </div>
                <div class="a"><a href="{% url 'inscription_proprietaire' %}">S'inscrire</a></div>
                <div class="a"><a href="{% url 'Proprietaire_login' %}">Connexion</a></div>
            </div>
        </div>

    </div>

</div>