{% extends 'base.html' %}

{% block content %}


{% load static %}

<div class="signe_log_acceuil">

    <div class="alpha">

        <h1>Utilisateur non connecté</h1>
        <div style="text-align: center;"><a href="{% url 'inscription_proprietaire' %}">inscription</a>|<a href="{% url 'Proprietaire_login' %}">Connexion</a></div>

    </div>

</div>

<style>
    .signe_log_acceuil {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .alpha {
        margin: auto;


    }

    .alpha a {
        color: #305981;
    }


    .alpha h1 {
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    #img1 {
        margin: auto;
    }
</style>



{% endblock content %}